#mainCanvas {
    border: 5px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#playerTurn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
#resetButton {
    border: 5px solid #ff1d36;
    position: absolute;
    font-size: 35px;
    width: 125px;
    height: 50px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}