#mainCanvas {
    border: 5px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#playerTurn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
#resetButton {
    border: 5px solid #4c3f3f;
    position: absolute;
    border-radius: 25px;
    font-size: 35px;
    width: 125px;
    height: 50px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
#resetButton:hover {
    cursor: pointer;
    background-color: #c1c1c1;
}